.row-simpleproject {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.sp-col1 {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.sp-col2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}
.card-sp {
    
    box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
}